name: devops-pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  pipeline:
    runs-on: ubuntu-latest

  steps:
    - name: "Checkout SCM"
    uses: action/checkout@v4
