name: devops-pipeline

on:
  workflow_dispatch:
    inputs:
      repo_owner:
        required: true
        type: string
      repo_name:
        required: true
        type: string
      branch:
        required: true
        type: string
      
jobs:
  pipeline:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout engine repo
        uses: actions/checkout@v4
      - name: checkout target repo
        uses: actions/checkout@v4
        with:
          repository: ${{ github.event.inputs.repo_owner }}/${{ github.event.inputs.repo_name }}
          ref: ${{ github.event.inputs.branch }}
          token: ${{ secrets.PAT_TOKEN }}
          path: targetrepo
