name: devops-pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      

jobs:
  pipeline:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout SCM
        uses: actions/checkout@v4
